body{
    direction: rtl;
    text-align: right;
    font-family: 'Sahel';
    font-size: 16.5px;
    
}

.search {
    margin-right: 220px;
}


.alert{
    width:60%;
}

.alert.alert-primary.text-center {
    margin-right: 200px;
}

.btn {
    letter-spacing: 0.0625em;
    margin-right: 30px;
  }


.vizhe {
    width: 68%;
}

.popular_articles.alert.alert-primary {
    width: 80%;
    margin-right: 120px;
}

h1{
    font-size: 3rem;
}

.navbar-nav{
    margin-left: 20px;
    margin-right: 20px;
    margin-top:-40px;
}


.post-meta {
    text-align: left;
}

.post-preview > .post-meta {
    font-size: 1.00rem;
    font-style: italic;
    margin-top: 40px;
    width:100%;
}

.post-preview{
    border:3px groove rgb(19, 19, 156);
    outline: 3px solid blueviolet;
    padding:19px;
}

.post-preview > a > .post-title {
    font-size: 1.20rem;
}

h3, .h3 {
    font-size: 1.20rem;
}

.pager-botton {
    float: left !important;
    margin-bottom: 14px;
}


.col-md-10.col-lg-8.col-xl-7 {
    width: 100%;
  }

.mb-4 {
    margin-top: 6.5rem !important;
    margin-bottom: 6.5rem !important;
    border:3px groove rgb(19, 19, 156);
    outline: 3px solid blueviolet;
    margin:40px;
    background-color: rgb(206, 224, 223);
  }

.SVG{
    enable-background:new 0 0 352.62 352.62
}

/*این مربوط به منوهای منه*/
li.nav-item > a.nav-link {
    font-size: 0.72rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}


.px-lg-3 {
    padding-right: 1em !important;
    padding-left: 2rem !important;
} 




.nav ul {
    padding-right: 0;
}
  
.nav ul li {
    border-bottom: none;
    height:86px;
    line-height: 86px;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
}
  
.nav ul li a {
    text-decoration: none;
    color:black;
    display: block;
    transition: .3s background-color;
    padding:0 24px;
}
  
.nav ul li a:hover {
    background-color: #41536d;
    color:#FFFFFF;
}
  
.nav a {
    border-bottom: none;
  }
  
.nav li ul {
    position: absolute;
    display:none;
    width:inherit;
}
  
.nav li:hover ul {
    display:block;
}
  
.nav ul li ul li {
    display:block;
    float:none !important;
    height: auto;
    line-height: 34px;
}
  
.nav ul li ul li ul{
    position: absolute;
    right: 100%;
    top: 0;
    display: none !important;
}
  
  
.nav ul > li > ul > li > ul > li:hover > ul {
    display:block !important;
}/*این مربوط به منوهای منه*/


.fa {
    padding: 20px;
    border-color: black !important;
    border-width: 1px !important;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 5px;
}

h1 {
    color: rgb(239, 245, 239);
}/*  This is for footer's icons */

/* برای سرچ باکس */
button {
    float: left;
    margin-right: 3px;
}

header.masthead {
    padding-top: 23.5rem;
    padding-bottom: 5.5rem;
  }

.Jumbotron{
    font-family: 'Sahel';
    font-size: 14pt;
    background-color: rgb(36, 36, 240);
}

.h2{
    font-family: 'Sahel';
    color:rgb(252, 89, 14);
}

.card{
    background-color: rgb(85, 205, 241);
}

