{% extends 'blog/list.html' %}

{% block header %}
  <div class="popular_articles alert alert-primary" style="font-family: 'Vazirmatn RD Black';">
    <h3 style="font-family: 'Vazirmatn RD Black';">آرشیو پست ها</h3>
        <details>
          <summary>کلیک کنید</summary>
          {% for a in popular_articles %}
            <div><a href="{% url 'blog:detail' a.slug %}" style="color:#0d131b"> {{a.title}} </div></a>
          {% endfor %}
        </details>
  </div>
{% endblock %}

{% block previous_page_url %}
  {% url 'blog:home' page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %}
  {% url 'blog:home' page_obj.next_page_number %}
{% endblock %}